extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/daum-search.css')

block content
  body(onload='initTmap()')
    nav.navbar.navbar-fixed-top
      .container
        .navbar-header
          .navbar-brand
            img(src='/images/webicon.png')

    .container-fluid
      .row
        .col-sm-9
          #map_div
        .col-sm-3
          #menu_wrap
            form
            label(for='keyword') 도착지 검색
            .input-group
              input#keyword.form-control(type='text', value='이태원 맛집', size='15', aria-describedby='basic-addon3')
              button(onclick='searchPlaces()') 검색하기
            .row-fluid#destination_info
              hr
              .list-group#placesList
              #pagination

block scripts
  script(language='javascript', src='https://apis.skplanetx.com/tmap/js?version=1&format=javascript&appKey=2edff32f-e7c8-3d80-9021-91f2f1f418ea')
  script(type='text/javascript', src='//apis.daum.net/maps/maps3.js?apikey=b19b3ab296acfbac13e9f1f2cd2ab969&libraries=services')
  script(src='/javascripts/duam-search.js')
